// See: https://sass-lang.com/

body,
html {
  margin: 0;
  flex-direction: column;
  nav {
    display: flex;
    width: 80%;
    height: 100%;
    text-align: center;
    text-justify: center;
    justify-content: space-between;
    margin: 3%;
  }

}

main {
  width: 90%;
  section {
    margin: 3;
    width: 100%;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 3%;
    }
  }
  .container {
    width: 80%;
    height: 100%;
  }
}
