body {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(227deg,
    #979b9d 0%,
    #e2e2e5 20%,
    #b9bdc9 34%,
    #b0c1bd 59%,
    #c5ced1 74%,
    #d7dbdd 100%
  )
}
