/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#update-points > div > div.pointsid{
  display: none;
}

#update-points-form > input:nth-child(1){
  display: none;
}

#update-points > div > img{
  width: 100%;
  height: 80%;
}
